.product-box{
    /* border: 1px solid  white; */
    width: 270px;
    padding-bottom: 10px;
}

.product-thumbnail{
    width: 150px;
}

.product-box:hover{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);

}

.product-title{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 1px;
}

.add-to-cart {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}

.product-price{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 1px;
}