@font-face {
  font-family: 'TropicFont';
  src: url('assets/fonts/loki-font.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

span{
  font-family: 'TropicFont';
  color: white;
  display: inline;
  font-style: italic !important;
}

.gap-4{
  gap: 4px;
}

.gap-10{
  gap:10px;
}

.gap-20{
  gap:20px;
}


.tropic{
  font-family: 'TropicFont';
}

.text-13{
  font-size: 13px;
}

.text-14{
  font-size: 14px;
}
.text-15{
  font-size: 15px;
}
.text-16{
  font-size: 16px;
}
.text-18{
  font-size: 18px;
}
.text-20{
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-style: italic;
}

.test{
  border: 1px solid white;
}

.navbar{
  margin: 0 auto;
  width: 80%;
}

.nav-links{
  position: relative;
  cursor: pointer;
}

.nav-links::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background: white; /* Border color */
  transition: width 0.3s ease-in-out; /* Animation properties */
}

/* Hover effect */
.nav-links:hover::after {
  width: 100%; /* Expand to full width */
}
